body {
    background-color: #BDDAB4; 
    background: repeating-linear-gradient(90deg, #FFCDDF,
    #FFCDDF 30px,
    #f1b4ca 30px,
    #f1b4ca 60px );
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px auto;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #6C4B38;
    color: white;
}
.button-container {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center; 
    align-items: center; 
}
.popup {
    background: #FFCDDF; 
    background-image: linear-gradient(to bottom right, #ffc9dd, #d0ffaa);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    max-width: 90%; 
    display: none; 
}
.popup h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
    color: #000000;
}
.popup label {
    font-weight: 600;
    color: #000000;
}
.popup input {
    margin-bottom: 16px;
    width: calc(100% - 16px); 
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.popup button {
    background-color: #6C4B38;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button {
    background-color: #8aaf7f;
    border-color: #6C4B38;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10%;
}